
.body{
  font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}
/* Common styles for all screen sizes */
table {
  border-collapse: collapse;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
}

.label {
  font-weight: bold;
}

/* 
Responsive styles for different screen sizes */
/* @media screen and (max-width: 00px) {
  /* Styles for screens with a maximum width of 600px */
  /* input[type="number"] {
    width: 30px;
  }
}

@media screen and (max-width: 600px) {
  /* Styles for screens with a maximum width of 400px */
  /* .player-name input {
    width: 80px;
  }
} */ 
/* Use a media query to add a break point at 800px: */
/* @media screen and (max-width: 600px) {
  .left, .main, .right {
    width: 50%; /* The width is 100%, when the viewport is 800px or smaller */
  /* }
} */ 


/* Your original table styles */
table {
  font-family: 'Open Sans';
  margin: 25px auto;
  border-collapse: collapse;
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5),
    0px 10px 20px rgba(0, 0, 0, 0.05),
    0px 20px 20px rgba(0, 0, 0, 0.05),
    0px 30px 20px rgba(0, 0, 0, 0.05);
}

table tr:hover {
  background: #f4f4f4;
  td {
    color: #555;
  }
}

table th,
table td {
  color: #999;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
  /* font-display: auto; */ 
}

table th {
  background: #00cccc;
  color: #fff;
  text-transform: uppercase;
  font-size: 50px;
}

table th.last {
  border-right: none;
}

.par {
  font-weight: bold;
  text-align: center;
  font-size: 45px;
}

.label {
  font-weight: bold;
  text-align: center;
  font-size: 50px;
}

button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  padding: 0.8em 1.3em 0.8em 0.9em;
  color: white;
  background: #58087c;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  border: none;
  letter-spacing: 0.05em;
  border-radius: 16px;
}

button svg {
  margin-right: 3px;
  transform: rotate(30deg);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button span {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button:hover svg {
  transform: translateX(5px) rotate(90deg);
}

button:hover span {
  transform: translateX(7px);
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px; /* Adjust the margin as needed */
  max-width: 100%;
  height: auto;
}

/* player names */
.group {
  position: relative;
 }
 
 .player-name {
  font-size: 30px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
 }
 
 .player-name:focus {
  outline: none;
 }
 
 label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
 }
 
 .player-name:focus ~ label, .player-name:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264AE;
 }
 
 .bar {
  position: relative;
  display: block;
  width: 200px;
 }
 
 .bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
 }
 
 .bar:before {
  left: 50%;
 }
 
 .bar:after {
  right: 50%;
 }
 
 .player-name:focus ~ .bar:before, .input:focus ~ .bar:after {
  width: 50%;
 }
 
 .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
 }
 
 .player-name:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
 }
 
 @keyframes inputHighlighter {
  from {
   background: #5264AE;
  }
 
  to {
   width: 0;
   background: transparent;
  }
 }
 /* score */
.score {
  border: none;
  border-radius: 15px;
  padding: 15px;
  background-color: #e8e8e8;
  box-shadow: 6px 6px 12px #ffffff,
              -6px -6px 12px #c5c5c5;
  font-size: medium;
  font-weight: bold;
  max-width: 200px;
 }
 
 .score:focus {
  outline-color: white;
  place-content: "Enter your message!";
 }
 .score {
  text-align: center;
  }