body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 600px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  thead {
    background-color: #F5F5F5;
  }
  
  .hole-number {
    font-weight: bold;
  }
  
  .par-input, .score-input {
    width: 60px;
  }
  
  #calculate-button {
    display: block;
    margin: 20px auto;
  }
  
  #winner {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }
  